<h2 mat-dialog-title>Edit post</h2>
<form [formGroup]="editPostForm">
        <mat-form-field>
          <mat-label>
            Title
          </mat-label>
          <input formControlName="title" matInput type="text" placeholder="">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>
            Body
          </mat-label>
          <input formControlName="body" matInput type="text" placeholder="Body">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>{{this.data.post.community.name}}</mat-label>
            <mat-select formControlName="community">

            </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="this.editPost()">
          Save
        </button>
        <button mat-raised-button color="basic" (click)="onCancel()">
          Cancel
        </button>
      </form>
