<form [formGroup]="chatForm">
  <mat-form-field>
    <input formControlName="message" matInput placeholder="message">
  </mat-form-field>
  <button mat-raised-button (click)="sendMessage()">Send</button>
</form>
