<h3>Upload Profile Picture</h3>
<div>
<input type="file" (change)="onFileChange($event)">
</div>
<input type="button" (click)="uploadProfilePicture()" value="upload">
<hr />
<!-- {{receivedImageData}} -->
