<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card class="register-card">
      <mat-card-header class="register-form-field">
          <mat-card-title>Join Blog-App</mat-card-title>
          <mat-card-subtitle>Create your account</mat-card-subtitle>
        </mat-card-header>
    <form [formGroup]="this.registerForm" class="register-form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" placeholder="Enter your email">
        <mat-error *ngIf="this.registerForm.controls.email?.errors?.required">
          Email is required!
        </mat-error>
        <mat-error *ngIf="this.registerForm.controls.email?.errors?.pattern">
          Please enter valid email!
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Full Name</mat-label>
        <input formControlName="name" matInput type="text" placeholder="Enter your full name!">
          <mat-error *ngIf="this.registerForm.controls.name?.errors?.required">
            Name is required!
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password" placeholder="Enter your password!">
          <mat-error *ngIf="this.registerForm.controls.password?.errors?.required">
            Password is required!
          </mat-error>
          <mat-error *ngIf="this.registerForm.controls.password?.errors?.minlength">
            Your password must be 6 symbols minimum
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input formControlName="confirmPassword" matInput type="password" placeholder="Confirm your password!">
        </mat-form-field>

        <mat-card-actions>
          <button [disabled]="!registerForm.valid" mat-raised-button color="primary" (click)="register()">Register</button>
        </mat-card-actions>
    </form>
  </mat-card>
</div>
