<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let post of posts">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          {{post.title}}
        </mat-card-title>
        <mat-card-subtitle>
          {{user.name}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="post-body">
        {{post.body}}
      </mat-card-content>

      <mat-action-list>
        <!-- <button mat-raised-button color="primary" (click)="this.editPost(post)">Edit</button>
        <button mat-raised-button color="warn" (click)="deletePost(post.id)">Delete</button> -->
        <button mat-icon-button><mat-icon (click)="this.editPost(post)">edit</mat-icon></button>
        <button mat-icon-button><mat-icon (click)="deletePost(post.id)">delete</mat-icon></button>
      </mat-action-list>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
