.example-card {
  max-width: 400px;
  max-height: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-grid-tile {
  background: lightblue;
}

.post-body {
  display:inline-block;
  width:230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
