:host .mat-icon {
  vertical-align: middle;
  margin-right: 20px;
}
:host .profile-card {
  text-align: center;
  padding: 0 20px 20px 20px;
}
:host .profile-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
