<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>{{this.user?.name}}</h2>
          <h4>{{this.user?.email}}</h4>
      </div>
      <img [src]="convertedImage">
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="this.user?.roles[0]?.roleName === 'ADMIN'">
    <h2 matSubheader>Admin</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile/users">Users</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile/communities">Communities</a>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">Home</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile/create-community">Create community</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile/settings">Settings</a>
</mat-nav-list>
