.list-communities {
  height: 71%;
  display: block;
}

.community-card {
  margin-bottom: 5px;
  max-width: 450px;
  height: 120px;
  max-height: 170px;
}

.post-card-title {
  cursor: pointer;
}

.mat-card-header-link {
  cursor: pointer;
}

.home-card-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-content {
  display:inline-block;
  width:230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-view-button {
  margin-left: 11rem;
}

.community-join-button {
  margin-left: 5rem;
}
/* .community-join-button:hover::before {
  margin-left: 5rem;
  content: 'Leave';
} */
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
