<mat-tab-group>
  <mat-tab
    *ngIf="this.user !== null"
    label="Home ({{postsByJoinedCommunities?.length}})"
    >
      <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutGap="20px"
      >
        <mat-card
        class="community-card"
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
        *ngFor="let post of postsByJoinedCommunities"
        >
          <mat-card-header>
            <img mat-card-avatar src="{{loadImage(post.postImage.image)}}" alt="User Avatar">
            <mat-card-title>
              <span
              class="post-content"
              (click)="viewPost(post.id)">{{post.title}}</span>
            </mat-card-title>
            <mat-card-subtitle>
              {{post.community.name}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content
          class="home-card-content"
          >
            {{post.body}}
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab
    label="Communities ({{communities?.length}})"
    >
      <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutGap="8px"
      >
        <mat-card
        class="community-card"
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
        *ngFor="let community of communities"
        >
          <mat-card-header>
            <img mat-card-avatar src="{{loadImage(community.communityImage.image)}}" alt="User Avatar">
            <mat-card-title gdArea="header" class="mat-card-header-link">
              <span (click)="viewCommunity(community.name)">{{community.name}}</span>
            </mat-card-title>
            <mat-card-subtitle gdArea="footer">
              {{community?.posts.length}} posts created in this community
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Posts ({{posts?.length}})">
      <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutGap="8px"
      fxLayoutAlign="start center"
      >
        <mat-card
        class="posts-card"
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
        *ngFor="let post of posts">
          <mat-card-header>
            <img mat-card-avatar src="{{loadImage(post.postImage.image)}}" alt="User Avatar">
              <a
              gdArea="community"
              >
                {{post.community.name}}
              </a>
            <mat-card-title gdArea="header" fxLayout="row wrap" class="post-title">
              {{post.title}}
            </mat-card-title>
            <mat-card-subtitle gdArea="footer">
            created by {{post.author.name}}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <a gdArea="content" class="post-content">
              {{post.body}}
            </a>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
