<div fxLayout="row">
  <mat-toolbar color="primary">
  <button [routerLink]="['/']" mat-icon-button><mat-icon>home</mat-icon></button>
    <div *ngIf="!this.loggedIn" fxLayout="row"
    fxLayoutAlign="center center">
      <button mat-button [routerLink]="['/register']">Register</button>
      <button mat-button [routerLink]="['/login']">Login</button>
    </div>

    <div *ngIf="this.loggedIn">
      <button mat-button [routerLink]="['/add-post']">Add Post</button>
      <button mat-button [matMenuTriggerFor]="profile">My Profile</button>
      <mat-menu #profile="matMenu">
        <button mat-button [routerLink]="['/profile']">Profile</button>
        <br>
        <button mat-button (click)="logOut()">LogOut</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
