<app-nav></app-nav>
  <router-outlet>
  </router-outlet>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "large"
color = "white"
type = "square-jelly-box"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
