<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="e.g. Science">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let community"> {{community.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let community"><a (click)="goToSingleCommunity(community.name)">{{community.name}}</a></td>
  </ng-container>

  <!-- Posts Column -->
  <ng-container matColumnDef="posts">
    <th mat-header-cell *matHeaderCellDef> Posts </th>
    <td mat-cell *matCellDef="let community"> {{community.posts.length}} </td>
  </ng-container>

  <!-- Users Joined This Community -->
  <ng-container matColumnDef="users">
    <th mat-header-cell *matHeaderCellDef> Members </th>
    <td mat-cell *matCellDef="let community"> {{community.user.length}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let community">
      <button mat-button><mat-icon>edit</mat-icon></button>
      <button mat-button (click)="this.deleteCommunity(community.id)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
