<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        Log in
      </mat-card-title>
      <mat-card-subtitle>
        Please provide your credentials.
      </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      <form [formGroup]="this.loginForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="email" placeholder="Enter your email">
          <mat-error *ngIf="this.loginForm.controls.email?.errors?.required">
            Email is required!
          </mat-error>
          <mat-error *ngIf="this.loginForm.controls.email?.errors?.pattern">
            Please enter valid email!
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password" placeholder="Your password here">
          <mat-error *ngIf="this.loginForm.controls.password?.errors?.required">
            Password is required!
          </mat-error>
          <mat-error *ngIf="this.loginForm.controls.password?.errors?.minlength">
            Your password must be 6 symbols minimum
          </mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
