/* .mat-form-field {
  width: 100%;
}

.mat-card {
  background-color: #F2F8FD;
}

.create-post-card {
  max-width: 450px;
}

.example-header-image {
  background-size: cover;
}

.post-card {
  width: 600px;
  max-width: 700px;
}

.post-card-title {
  cursor: pointer;
}

.create-post-field {
  width: 600px;
  max-width: 700px;
} */
