<!-- <div
fxLayout="row"
fxLayoutAlign="center center"
>
  <mat-card
  fxLayout="row"
  >
    <mat-card-title>
      Community Name
    </mat-card-title>
  <button mat-raised-button>Join</button>
  </mat-card>
</div>
<br>
<div
fxLayout="row"
fxLayoutAlign="center start"
>
  <mat-card
  fxLayout="row"
  fxLayoutAlign="center center"
  >
    <mat-card-title>
      Create post
    </mat-card-title>
  </mat-card>
</div> -->

<div
fxLayout="column"
>
  <mat-card
  fxLayoutAlign="center center"
  class="community-header" fxFill>
    <mat-card-header>
      <img mat-card-avatar src="{{loadImage(this.singleCommunity.communityImage.image)}}" alt="User Avatar">
      <mat-card-title>
        {{this.singleCommunity?.name}}
      </mat-card-title>

      <mat-card-subtitle>
        {{this.singleCommunity?.posts.length}} posts in here
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-button
        gdArea="button"
        color="primary"
        class="community-join-button"
        (click)="joinCommunity(singleCommunity.id)"
        *ngIf="this.user != null && !this.isUserJoined"
      >
        Join
      </button>
      <button
        mat-button
        gdArea="button"
        color="primary"
        class="community-join-button"
        (click)="leaveCommunity(singleCommunity.id)"
        *ngIf="this.user != null && this.isUserJoined"
      >
        Leave
      </button>
    </mat-card-content>
  </mat-card>
</div>

<br>
<div
fxLayout="column"
>
  <mat-card
    *ngIf="this.user !== null"
    class="create-post-field"
  >
    <mat-toolbar>
      <mat-form-field>
        <input matInput placeholder="Create post" (click)="createPostFromCommunity()">
      </mat-form-field>
    </mat-toolbar>
    </mat-card>
  </div>
  <br>
<div
  fxLayout="column"
  fxLayoutGap="10px"
>
  <mat-card
    class="post-card"
    *ngFor="let post of singleCommunityPosts"
    >
    <mat-card-header>
      <mat-card-title >
        <span
        class="post-card-title"
        (click)="viewPost(post.id)">{{post.title}}</span>
      </mat-card-title>
      <mat-card-subtitle >
       Created {{post['dateAdded']}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{post?.body}}
    </mat-card-content>
    <div>
     Posted by {{post.author.name}}
    </div>
  </mat-card>
</div>
