<h2 mat-dialog-title>Edit user</h2>
<form [formGroup]="editUserForm">
  <mat-form-field>
    <mat-label>
      Name
    </mat-label>
    <input formControlName="name" matInput type="text" placeholder="">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>
      Email
    </mat-label>
    <input formControlName="email" matInput type="text" placeholder="Body">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="editUser()">
    Save
  </button>
  <button mat-raised-button color="basic" (click)="onCancel()">
    Cancel
  </button>
</form>
