<mat-drawer-container>
    <mat-drawer #sidenav mode="side" opened>
        <button fxHide fxShow.xs mat-button (click)="toggleNav(sidenav)"><mat-icon>menu</mat-icon></button>
        <!-- <h1 fxHide fxShow.sm>SM</h1>
        <h1 fxHide fxShow.md>MD</h1>
        <h1 fxHide fxShow.xl>XL</h1> -->
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <button fxHide fxShow.sm fxShow.lg mat-button (click)="toggleNav(sidenav)"><mat-icon>menu</mat-icon></button>
        <button fxHide fxShow.xs mat-button (click)="toggleNav(sidenav)"><mat-icon>menu</mat-icon></button>
      <router-outlet>
      </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
