<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card class="post-mat-card" >
    <form [formGroup]="this.postForm" class="post-form">
      <mat-form-field>
        <mat-label>
          Title
        </mat-label>
        <input formControlName="title" matInput placeholder="e.g. - Scientits has ...">
        <mat-error *ngIf="this.postForm.controls.title.errors?.required">
          Title is required!
        </mat-error>
        <mat-error *ngIf="this.postForm.controls.title.errors?.minlength">
          Title must be less than 4 characters!
        </mat-error>
        <mat-error *ngIf="this.postForm.controls.title.errors?.maxlength">
          Title cannot be more than 100 characters!
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>
          Body
        </mat-label>
        <textarea formControlName="body" matInput placeholder="e.g. - Body" rows="6" cols="70"></textarea>
        <mat-error *ngIf="this.postForm.controls.body.errors?.required">
          Body is required!
        </mat-error>
        <mat-error *ngIf="this.postForm.controls.body.errors?.minlength">
          Body must be less than 20 characters!
        </mat-error>
        <mat-error *ngIf="this.postForm.controls.body.errors?.maxlength">
          Body cannot be more than 1000 characters!
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>
          Community
        </mat-label>
        <mat-select formControlName="community">
          <mat-option  *ngFor="let community of communities" [value]="community.name">
            {{community.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.postForm.controls.community.errors?.required">
          Community is required!
        </mat-error>
      </mat-form-field>
      <br>
      <button [disabled]="!this.postForm.valid" mat-raised-button color="primary" (click)="createPost()">Add</button>
    </form>
  </mat-card>
</div>
