<div fxLayout="row wrap" fxLayoutAlign="center center">
<mat-card class="community-mat-card">
  <form [formGroup]="this.communityForm">
    <mat-label>
      Create new community
    </mat-label>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Name">
      <mat-error *ngIf="this.communityForm.controls.name.errors?.required">
        Name is required!
      </mat-error>
      <mat-error *ngIf="this.communityForm.controls.name.errors?.minlength">
        Name cannot be less than 3 characters!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea formControlName="description" matInput placeholder="Description" rows="8" cols="50"></textarea>
      <mat-error *ngIf="this.communityForm.controls.name.errors?.required">
        Description is required!
      </mat-error>
      <mat-error *ngIf="this.communityForm.controls.name.errors?.minlength">
        Description cannot be less than 3 characters!
      </mat-error>
    </mat-form-field>

    <br>
    <button [disabled]="!this.communityForm.valid" mat-raised-button color="primary" (click)="addCommunity()">Add</button>
  </form>
</mat-card>
</div>
