<div>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{singlePost.title}}
      </mat-card-title>
      <mat-card-subtitle>
        posted by {{singlePost.author.name}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content
    fxLayout="row"
    fxLayoutAlign="start center"
    >
      {{singlePost.body}}
    </mat-card-content>
</mat-card>
</div>
<br>
<div *ngIf="this.currentUser !== null">
  <form [formGroup]="this.commentForm">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <textarea formControlName="commentBody" matInput placeholder="e.g. great post"></textarea>
          <mat-error *ngIf="this.commentForm.controls.commentBody.errors?.required">
            Comment cannot be empty!
          </mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
      mat-raised-button
      color="primary"
      [disabled]="!this.commentForm.valid"
      (click)="createComment()"
      >Add</button>
    </mat-card-actions>
    </mat-card>
  </form>
</div>

<div
>
  <mat-card
  *ngFor="let postComment of postComments"
  >
    <mat-card-header>
        <img mat-card-avatar src="{{loadImage(postComment.user.userProfilePicture.image)}}" alt="User Avatar">
      <mat-card-title>
        {{postComment.user?.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{difference(postComment.date)}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{postComment?.commentBody}}
    </mat-card-content>
    <mat-card-actions>
      <button
      *ngIf="this.postComment.user?.email === this.currentUser?.email"
      mat-icon-button
      color="warning"
      (click)="deleteComment(singlePost.id, postComment.commentId)"
      ><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
