<mat-card>
  <mat-card-content
  fxLayout="row wrap"
  fxLayoutAlign="space-evenly center"
  fxLayout.lt-sm="column"
  >
    <div
    fxLayoutAlign="flex-start"
    >
      <a
      display-4
      *ngIf="posts?.length === 1"
      >
        You have {{posts?.length}} post created
      </a>
      <a
      display-4
      *ngIf="posts?.length > 1"
      >
        You have {{posts?.length}} posts created
      </a>
      <a
      display-4
      *ngIf="posts?.length === 0"
      >
        You don't have any posts yet :(
      </a>
    </div>
    <div
    fxLayoutAlign="center center"
    >
      <a
      display-4
      >
        You have joined {{communitiesJoined?.length}} communities
      </a>
    </div>
    <div
    fxLayoutAlign="flex-end"
    >
      <a
      display-4
      >
        You have {{this.commentsByUser?.length}} comments on posts
      </a>
    </div>
  </mat-card-content>
</mat-card>

